{% extends "../login_layout.html" %}

{% block content %}
<div class="container" id="main-area">
    <div class="row">
        <div class="col" id="header-area">
            <h1 class="text text-primary">Welcome to the Milkstore!</h1><br>
            <p class="text text-secondary">login using your Milkstore Account</p>
        </div>
    </div>
    
    <div class="row">
        <div class="col" id="form-area">
            <form method="POST" action="{% url 'login' %}">
                {% csrf_token %}
                <div class="form-group">
                    <label for="input_username">Username</label>
                    <input type="text" class="form-control" placeholder="enter Username" name="username">
                </div>
                <div class="form-group">
                    <label for="password_input">Password</label>
                    <input type="password" class="form-control" name="password" placeholder="password">
                </div>
                <br>
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-danger">{{ message }}</div>
                    {% endfor %}
                {% endif %}
                <div class="row">
                    <div class="col-6">
                        <button type="submit" class="btn btn-primary">Login</button>
                    </div>
                    <div class="col-6">
                        <a href="{% url 'signup' %}">Sign up</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}