{% extends "../login_layout.html" %}

{% block content %}
<div class="container" id="main-area">
    <div class="row">
        <div class="col" id="header-area">
            <h1 class="text text-primary">Welcome to the Milkstore!</h1><br>
            <p class="text text-secondary">login using your Milkstore Account</p>
        </div>
    </div>
    
    <div class="row">
        <div class="col" id="form-area">
            <form>
                <div class="form-group">
                    <label for="email_input">Email address</label>
                    <input type="email" class="form-control" id="input_email" placeholder="email@mail.com">
                </div>
                <div class="form-group">
                    <label for="password_input">Password</label>
                    <input type="password" class="form-control" id="password_input" placeholder="password">
                </div>
                <br>
                <div class="row">
                    <div class="col-6">
                        <button type="submit" class="btn btn-primary">Login</button>
                    </div>
                    <div class="col-6">
                        <a href="{% url 'signup' %}">Sign up</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}