{% extends '../base_profile.html' %}
{% load static %}

<!--
    Context:
        - User
        - user's transactions
-->

{% block content %}
    <main>
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-danger">{{ message }}</div>
            {% endfor %}
        {% endif %}
        <div class="row" id="profile-area">
            <div class="col-4">
                <img src="{% static 'accounts/img/proffile_placeholder.png' %}" width="250" height="auto">
            </div>
            <div class="col-8">
                <!--proffile informations-->
                <table class="table table-hover">
                    <tbody>
                        <tr>
                            <td>username</td>
                            <td>{{user.username}}</td>
                        </tr>
                        <tr>
                            <td>Date joined</td>
                            <td>{{user.date}}</td>
                        </tr>
                        <tr>
                            <td>email</td>
                            <td>{{user.email}}</td>
                        </tr>
                        <tr>
                            <td>address</td>
                            <td>{{user.address}}</td>
                        </tr>
                        <tr>
                            <td>card number</td>
                            <td>{{user.cardnumber}}</td>
                        </tr>
                    </tbody>
                </table>
                <a href="{% url 'profile edit' %}" class="btn btn-primary">edit</a>
            </div>
        </div>

        <hr>
        <div class="row" id="transaction-history-area">
        </div>
    </main>
{% endblock %}