{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Go buy some milk!</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href='{% static "store/css/home_style.css" %}'>
</head>
<body>
    <div class="container">
        <nav id="nav">
            <div class="row">
                <div class="col-2" id="logo-area">
                    <div class="row">
                        <img src='{% static "store/imgs/milk-logo.png" %}' width=40 height=40>
                        <h2><a href="">Milkstore</a></h2>
                    </div>
                </div>

                <div class="col-6" id="search-bar">
                    <div class="row">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="what milk in your mind?">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="button" id="search-button"><img src='{% static "store/imgs/search-logo.png" %}' width=20 height=20></button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-4" id="nav-area">
                    <ul class="nav">
                        <li class="nav-item">
                            <a href="" class="nav-link">Store</a>
                        </li>
                        <li class="nav-item">
                            <a href="" class="nav-link">Area-2</a>
                        </li>
                        <li class="nav-item">
                            <a href="" class="nav-link">News</a>
                        </li>
                        <li class="nav-item">
                            <a href="" class="nav-link">Profile</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <hr>
        {% block content %}

        {% endblock %}

        <footer>

        </footer>
    </div>
    <script src='{% static "js/jquery-3.5.1.js" %}'></script>
    <script src='{% static "store/js/home.js" %}'></script>
</body>
</html>